# General
COMPOSE_PROJECT_NAME=mi_proyecto
NODE_ENV=development

# Servicios
GENERADOR_PORT=3000
USUARIO_PORT=5173
PLANTILLAS_PORT=8080
INFRA_PORT=80

# (Opcional) Base de datos PostgreSQL
# POSTGRES_USER=app_user
# POSTGRES_PASSWORD=app_password
# POSTGRES_DB=mi_aplicacion
# POSTGRES_PORT=5432
